

/* #main {
  margin-top: 96px;
} */

.sc-slide {
  width: 100%;
}

.slide1 .swiper-slide {
  position: relative;
  width: 100%;
}

.slide1 .swiper-slide a {
  display: block;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.slide1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 600px;
  display: block;
}

.sc-slide .swiper-pagination-bullet {
  opacity: 1;
  margin: 0 4px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.5);
  display: inline-block;
  width: 8px;
  height: 8px;
  font: 0/0 a;
  transition: width 0.3s ease-in-out;
}
.sc-slide .swiper-pagination-bullet-active {
  width: 20px;
  background-color: #fff;
}

.sc-slide {
  transition: background-color 0.6s ease-in-out 0.2s;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav-link {
  color: #808080 ;
  transition: color 0.2s ease;
}
.nav-link:hover,
.dropdown:hover > .nav-link {
  color: #1cbccf;
}

.dropdown-menu a:hover {
  color: #1cbccf;
  background-color: #f8f9fa;
}

.sub-nav-list img {
  width: 24px;
  height: 24px;
}

#header .dropdown button {
  padding: 5px 10px;
}

.custom-lang-btn:hover {
  background-color: transparent;
  color: var(--color-font-sub);
}

.sub-nav-item {
  display: inline-block;
  margin-left: 10px;
}
.nav-link.dropdown-toggle::after {
  display: none;
}


.card-title {
  font-size: 42px;
  font-weight: 500;
}

/*main card 배너 롤오버*/
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*메인 카드배너 페이드 아웃 애니메이션*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 애니메이션 적용 클래스 */
.fade-in {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

/* 약간의 지연을 준 경우 */
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}

 /* 원가 텍스트 */
.price-original {
    font-size: var(--original-price);
    font-weight: var(--font-weight-thin);
    color:var(--color-font-subdesc);
    text-decoration: line-through;
}
/* 중간 카드 event */
.event-title {
    font-size: var(--event-subtitle);
    font-weight: var(--font-weight-semibold);
    color: var(--basic-color);
    max-width: 200px;
  }
  
/* 이벤트 가격 */  
.event-price {
    color: var(--color-primary);
    font-size: var(--event-subprice);
    font-weight: var(--font-weight-semibold);
    padding: 20px 10px;

}
/* 설명 부분*/
.event-desc {
    font-size: var(--event-desc);
    font-weight: var(--font-weight-light);
    color: var(--color-font-desc);
}
  
/* 이벤트 날짜 등 작은 정보 */
.event-date {
    font-size: var(--original-price);
    font-weight: var(--font-weight-medium);
    color:var(--color-font-subdesc);
}
.services-bg {
    background-color: var(--color-primary);
}
