/* 슬라이드 안에 텍스트 애니메이션 */
.hero-title{
  opacity: 0;
  transition: 0.5s;
  transition-delay: 800ms;
  transform: translateY(-30%);
}

.swiper-slide-active .hero-title{
  opacity: 1;
  transform: translateY(0);
}

.hero-desc{
  opacity: 0;
  transition: 0.5s;
  transition-delay: 1300ms;
  transform: translateY(-10%);
}

.swiper-slide-active .hero-desc{
 opacity: 1;
 transform: translateY(0);
}

.hero-badge{
  opacity: 0;
  transition: 0.5s;
  transition-delay: 1300ms;
  transform: translateY(10%);
}

.swiper-slide-active .hero-badge{
 opacity: 1;
 transform: translateY(0);
}

.hero-btn-wrap {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 1500ms;
  transform: translateY(10%);
}

.swiper-slide-active .hero-btn-wrap {
  opacity: 1;
  transform: translateY(0);
}

.hero-image-box {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 800ms;
  transform: translateX(10%);
}

.swiper-slide-active .hero-image-box {
  opacity: 1;
  transform: translateX(0);
}

.hero-product-badge {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 1300ms;
  transform: translateY(-10%);
}

.swiper-slide-active .hero-product-badge {
  opacity: 1;
  transform: translateY(0);
}

#ft .ft-social img {
  display: block;
  width: 24px;
  height: 24px;;
}

.gototop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
  z-index: 9999;
}
.gototop.active {
  opacity: 1;
  transform: translateY(0);
}

.quick-group li  {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-sub-bg);
}

.quick-group li img {
  width: 32px;
  height: 32px;
}

.quick-group .line-link {
  border-radius: 10px;
  background-color: #fff;
}