 /* 원가 텍스트 */
.price-original {
    font-size: var(--original-price);
    font-weight: var(--font-weight-thin);
    color:var(--color-font-subdesc);
    text-decoration: line-through;
}
/* 중간 카드 event */
.event-title {
    font-size: var(--event-subtitle);
    font-weight: var(--font-weight-semibold);
    color: var(--basic-color);
    max-width: 200px;
  }
  
/* 이벤트 가격 */  
.event-price {
    color: var(--color-primary);
    font-size: var(--event-subprice);
    font-weight: var(--font-weight-semibold);
    padding: 20px 10px 0 10px;

}
/* 설명 부분*/
.event-desc {
    font-size: var(--event-desc);
    font-weight: var(--font-weight-light);
    color: var(--color-font-desc);
}
  
/* 이벤트 날짜 등 작은 정보 */
.event-date {
    font-size: var(--original-price);
    font-weight: var(--font-weight-medium);
    color:var(--color-font-subdesc);
}
.services-bg {
    background-color: var(--color-primary);
}