
 /* 설명 부분*/
.event-desc {
  font-size: var(--body-text);
  font-weight: var(--font-weight-regular);
  color: var(--color-font-desc);
}
.services-con {
    position: relative;
    z-index: 1;
}  
.services-con:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, #2EC4B6, #fff); 
    z-index: -1;
    opacity: 0.9;
}
.card-link:hover {
    opacity: 0.7; 
    overflow: hidden;
} 
.services-tit-h2 {
  font-size: var(--subtitle-h4);
  color: #fff;
  letter-spacing: 0.8px;
  line-height: 3rem;
} 
.services-dese {
  font-size: var(--md-fs);
  color: var(--color-sub-bg);
  line-height: 1rem;
} 
.services-title {
  font-size: var(--event-subtitle);
  font-weight: var(--font-weight-semibold);
  color: var(--color-font-main);
}
.services-banner > div {
    min-height: calc(100vh - 500px);
    padding: 2vh 0.5vw;
}
.Ulthera_bg {
    background: url(../assets/images/img-main/original_tr1.png) no-repeat 0 0;
    background-size: cover;
  }
.Botox_bg {
    background: url(../assets/images/img-main/original_tr2.png) no-repeat 0 0;
    background-size: cover;
  }
.Inmode_bg {
    background: url(../assets/images/img-main/original_tr3.png) no-repeat 0 0;
    background-size: cover;
  }
.Thermage_bg {
    background: url(../assets/images/img-main/original_tr4.png) no-repeat 0 0;
    background-size: cover;
  }

.section-about {
  background-color: #E8F0F1;
  background-image: url(../assets/images/img-main/about_bg_circle.png);
  /* background-image:
    radial-gradient(circle at 80% 30%, rgba(0, 191, 255, 0.1) 0%, transparent 60%),
    radial-gradient(circle at 90% 60%, rgba(0, 191, 255, 0.15) 0%, transparent 70%); */
  background-repeat: no-repeat;
  background-size: 600px; /*600px 600px, 500px 500px; */
  background-position: right bottom /*,right top*/;
  /*padding: 4rem 2rem; */
}

.about_txt_box {
  max-width: 800px;
  z-index: 1;
}

.offset-box {
  margin-left: 200px;
}
@media (max-width: 768px) {
  .offset-box {
    margin-left: 0;
  }
}
.quote {
  position: relative;
  /* padding: 2.5rem; */
}

/*따옴표 위쪽쪽위차*/
.quote:before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: currentColor;
  color:#90C6CD;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43 31'%3E%3Cpath d='M18.459 0V18.25H9.33399L15.4173 30.4167H6.29232L0.208984 18.25V0H18.459ZM42.7923 0V18.25H33.6673L39.7507 30.4167H30.6257L24.5423 18.25V0H42.7923Z' fill='%2390C6CD'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
/*따옴표 아래쪽 위치*/
.quote:after {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  color:#90C6CD;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43 31'%3E%3Cg transform='scale(1,-1) translate(0,-31)'%3E%3Cpath d='M18.459 0V18.25H9.33399L15.4173 30.4167H6.29232L0.208984 18.25V0H18.459ZM42.7923 0V18.25H33.6673L39.7507 30.4167H30.6257L24.5423 18.25V0H42.7923Z' fill='%2390C6CD'/%3E%3C/g%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
.about_txt_tit {
  color:var(--color-font-desc);
  font-weight: var(--font-weight-medium);
  font-size: 1.5rem;
  line-height: 2.3rem;
}
.about_txt_desc {
  color:var(--color-font-sub);
}
.about_txt_doctor {
  color:var(--color-font-desc);
  font-weight: var(--font-weight-medium);
}
.doctors-title {
  font-size: var(--subtitle-h4);
  font-weight: var(--font-weight-semibold);
}

/* Doctor Box 전체 레이아웃 */
.doctor-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.doctor-name {
  font-size: var(--event-subtitle);
  font-weight: var(--font-weight-semibold);
}
.doctor-position {
  font-size: var(--original-price);
  color: var(--color-font-subdesc);
}

.doctor-intro {
  font-size: var(--original-price);
  color: #444;
}
/* SNS 아이콘 */
.doctors-sns i {
  font-size: 1.2rem;
  color:#90C6CD;
  transition: color 0.2s ease;
}
.doctors-sns i:hover {
  color: var(--color-primary);
}

/* Carousel */
.carousel-inner {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Carousel Pagination */
.carousel-indicators {
  bottom: auto;
}
.carousel-indicators [data-bs-target] {
  background-color: var(--color-font-main);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: var(--color-point);
}
