.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

@for $i from 100 through 900 {
    @if $i % 100 == 0 {
        .fw#{$i} {
            font-weight: $i !important;
        }
    }
}

@for $lh from 8 through 30 {
  .line_h_#{$lh} {
    line-height: ($lh / 10) !important;
  }
}

@for $i from 12 through 56 {
  .fs-#{$i} {
    font-size: clamp(
      #{$i}px,
      1vw + #{round($i / 10)}px,
      #{round($i * 1.2)}px
    ) !important;
  }
}

