.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.fw100 {
  font-weight: 100 !important;
}

.fw200 {
  font-weight: 200 !important;
}

.fw300 {
  font-weight: 300 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw800 {
  font-weight: 800 !important;
}

.fw900 {
  font-weight: 900 !important;
}

.line_h_8 {
  line-height: 0.8 !important;
}

.line_h_9 {
  line-height: 0.9 !important;
}

.line_h_10 {
  line-height: 1 !important;
}

.line_h_11 {
  line-height: 1.1 !important;
}

.line_h_12 {
  line-height: 1.2 !important;
}

.line_h_13 {
  line-height: 1.3 !important;
}

.line_h_14 {
  line-height: 1.4 !important;
}

.line_h_15 {
  line-height: 1.5 !important;
}

.line_h_16 {
  line-height: 1.6 !important;
}

.line_h_17 {
  line-height: 1.7 !important;
}

.line_h_18 {
  line-height: 1.8 !important;
}

.line_h_19 {
  line-height: 1.9 !important;
}

.line_h_20 {
  line-height: 2 !important;
}

.line_h_21 {
  line-height: 2.1 !important;
}

.line_h_22 {
  line-height: 2.2 !important;
}

.line_h_23 {
  line-height: 2.3 !important;
}

.line_h_24 {
  line-height: 2.4 !important;
}

.line_h_25 {
  line-height: 2.5 !important;
}

.line_h_26 {
  line-height: 2.6 !important;
}

.line_h_27 {
  line-height: 2.7 !important;
}

.line_h_28 {
  line-height: 2.8 !important;
}

.line_h_29 {
  line-height: 2.9 !important;
}

.line_h_30 {
  line-height: 3 !important;
}

.fs-12 {
  font-size: clamp(12px, 1vw + 1px, 14px) !important;
}

.fs-13 {
  font-size: clamp(13px, 1vw + 1px, 16px) !important;
}

.fs-14 {
  font-size: clamp(14px, 1vw + 1px, 17px) !important;
}

.fs-15 {
  font-size: clamp(15px, 1vw + 2px, 18px) !important;
}

.fs-16 {
  font-size: clamp(16px, 1vw + 2px, 19px) !important;
}

.fs-17 {
  font-size: clamp(17px, 1vw + 2px, 20px) !important;
}

.fs-18 {
  font-size: clamp(18px, 1vw + 2px, 22px) !important;
}

.fs-19 {
  font-size: clamp(19px, 1vw + 2px, 23px) !important;
}

.fs-20 {
  font-size: clamp(20px, 1vw + 2px, 24px) !important;
}

.fs-21 {
  font-size: clamp(21px, 1vw + 2px, 25px) !important;
}

.fs-22 {
  font-size: clamp(22px, 1vw + 2px, 26px) !important;
}

.fs-23 {
  font-size: clamp(23px, 1vw + 2px, 28px) !important;
}

.fs-24 {
  font-size: clamp(24px, 1vw + 2px, 29px) !important;
}

.fs-25 {
  font-size: clamp(25px, 1vw + 3px, 30px) !important;
}

.fs-26 {
  font-size: clamp(26px, 1vw + 3px, 31px) !important;
}

.fs-27 {
  font-size: clamp(27px, 1vw + 3px, 32px) !important;
}

.fs-28 {
  font-size: clamp(28px, 1vw + 3px, 34px) !important;
}

.fs-29 {
  font-size: clamp(29px, 1vw + 3px, 35px) !important;
}

.fs-30 {
  font-size: clamp(30px, 1vw + 3px, 36px) !important;
}

.fs-31 {
  font-size: clamp(31px, 1vw + 3px, 37px) !important;
}

.fs-32 {
  font-size: clamp(32px, 1vw + 3px, 38px) !important;
}

.fs-33 {
  font-size: clamp(33px, 1vw + 3px, 40px) !important;
}

.fs-34 {
  font-size: clamp(34px, 1vw + 3px, 41px) !important;
}

.fs-35 {
  font-size: clamp(35px, 1vw + 4px, 42px) !important;
}

.fs-36 {
  font-size: clamp(36px, 1vw + 4px, 43px) !important;
}

.fs-37 {
  font-size: clamp(37px, 1vw + 4px, 44px) !important;
}

.fs-38 {
  font-size: clamp(38px, 1vw + 4px, 46px) !important;
}

.fs-39 {
  font-size: clamp(39px, 1vw + 4px, 47px) !important;
}

.fs-40 {
  font-size: clamp(40px, 1vw + 4px, 48px) !important;
}

.fs-41 {
  font-size: clamp(41px, 1vw + 4px, 49px) !important;
}

.fs-42 {
  font-size: clamp(42px, 1vw + 4px, 50px) !important;
}

.fs-43 {
  font-size: clamp(43px, 1vw + 4px, 52px) !important;
}

.fs-44 {
  font-size: clamp(44px, 1vw + 4px, 53px) !important;
}

.fs-45 {
  font-size: clamp(45px, 1vw + 5px, 54px) !important;
}

.fs-46 {
  font-size: clamp(46px, 1vw + 5px, 55px) !important;
}

.fs-47 {
  font-size: clamp(47px, 1vw + 5px, 56px) !important;
}

.fs-48 {
  font-size: clamp(48px, 1vw + 5px, 58px) !important;
}

.fs-49 {
  font-size: clamp(49px, 1vw + 5px, 59px) !important;
}

.fs-50 {
  font-size: clamp(50px, 1vw + 5px, 60px) !important;
}

.fs-51 {
  font-size: clamp(51px, 1vw + 5px, 61px) !important;
}

.fs-52 {
  font-size: clamp(52px, 1vw + 5px, 62px) !important;
}

.fs-53 {
  font-size: clamp(53px, 1vw + 5px, 64px) !important;
}

.fs-54 {
  font-size: clamp(54px, 1vw + 5px, 65px) !important;
}

.fs-55 {
  font-size: clamp(55px, 1vw + 6px, 66px) !important;
}

.fs-56 {
  font-size: clamp(56px, 1vw + 6px, 67px) !important;
}

#hd {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-transition: height 0.2s linear 0.1s, -webkit-transform 0.2s linear;
  transition: height 0.2s linear 0.1s, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, height 0.2s linear 0.1s;
  transition: transform 0.2s linear, height 0.2s linear 0.1s, -webkit-transform 0.2s linear;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#hd.hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
#hd.fixed {
  position: fixed;
  top: 0;
  transform: translateY(0) !important;
}
#hd .hd-group {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 95px;
}
#hd .hd-group .hd-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 20;
}
#hd .hd-group .hd-nav {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  #hd .hd-group .hd-nav {
    justify-content: start;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    overflow: auto;
    overscroll-behavior-y: contain;
    width: 80vw;
    height: 100lvh;
    border-top: 95px solid transparent;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: visibility 0ms linear 0.3s, -webkit-transform 0.3s;
    transition: visibility 0ms linear 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, visibility 0ms linear 0.3s;
    transition: transform 0.3s, visibility 0ms linear 0.3s, -webkit-transform 0.3s;
    pointer-events: none;
  }
}
@media (max-width: 992px) {
  #hd .hd-group .hd-nav .nav-area {
    width: 100%;
  }
}
#hd .hd-group .hd-nav .nav-area .nav-list {
  display: flex;
  color: #808080;
}
@media (max-width: 992px) {
  #hd .hd-group .hd-nav .nav-area .nav-list {
    flex-direction: column;
    align-items: start;
  }
}
#hd .hd-group .hd-nav .nav-area .nav-item {
  display: flex;
  align-items: center;
  height: 95px;
  padding: 0 15px;
}
@media (max-width: 992px) {
  #hd .hd-group .hd-nav .nav-area .nav-item {
    flex-direction: column;
    align-items: unset;
    width: 100%;
    height: unset;
    padding: unset;
    transition: 0.5s;
  }
  #hd .hd-group .hd-nav .nav-area .nav-item a {
    width: 100%;
    padding: 15px 20px;
  }
}
#hd .hd-group .hd-nav .nav-area .depth1-list,
#hd .hd-group .hd-nav .nav-area .depth1-item {
  position: relative;
}
#hd .hd-group .hd-nav .nav-area .depth1-list {
  position: absolute;
  justify-content: center;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  transition: 0.5s;
}
#hd .hd-group .hd-nav .nav-area .depth1-item {
  padding: 15px;
}
@media (max-width: 992px) {
  #hd .hd-group .hd-nav .nav-area .depth1-item {
    padding: unset;
  }
}
#hd .hd-group .hd-nav .nav-area .sub {
  display: none;
}
#hd .hd-group .hd-nav .nav-area .sub.show {
  display: flex;
}
@media (max-width: 992px) {
  #hd .hd-group .hd-nav .nav-area .sub.show {
    position: unset;
    flex-direction: column;
    margin: 0 20px;
    border: 1px solid #000;
    border-radius: 10px;
    transform: unset;
  }
}
#hd .hd-group .hd-nav.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: visibility 0ms linear 0ms, -webkit-transform 0.3s;
  transition: visibility 0ms linear 0ms, -webkit-transform 0.3s;
  transition: transform 0.3s, visibility 0ms linear 0ms;
  transition: transform 0.3s, visibility 0ms linear 0ms, -webkit-transform 0.3s;
  visibility: visible;
  pointer-events: auto;
}
#hd .hd-group .hd-sub-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 20;
}
#hd .hd-group .hd-sub-nav .bn-btn {
  padding: 10px 15px;
  border: 1px solid #1CBCCF;
  border-radius: 30px;
  color: #808080;
  transition: 0.3s ease-in-out;
}
#hd .hd-group .hd-sub-nav .bn-btn:hover {
  color: #fff;
  background-color: #1CBCCF;
  transition: 0.3s ease-in-out;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap {
  position: relative;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap:hover svg path,
#hd .hd-group .hd-sub-nav .lang-btn-wrap:hover .lang-txt {
  stroke: #1CBCCF;
  color: #1CBCCF;
  transition: stroke 0.3s, color 0.3s;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap .lang-btn {
  display: flex;
  align-items: center;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap .lang-btn svg {
  width: 24px;
  height: 24px;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap .lang-txt {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
  font-weight: 400;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap .btn-list {
  position: absolute;
  right: 0;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 6px;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap .btn-list .btn-item:nth-child(1) a {
  padding-top: 6px;
  padding-bottom: 2px;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap.active .btn-list {
  visibility: visible;
  opacity: 1;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap .lang-link {
  display: block;
  padding: 2px 14px 4px 13px;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s;
}
#hd .hd-group .hd-sub-nav .lang-btn-wrap .lang-link:hover {
  color: #1CBCCF;
}
#hd .hd-group .hd-mo-nav-btn {
  position: relative;
  cursor: pointer;
}
#hd .hd-group .hd-mo-nav-btn .trigger {
  display: block;
  width: 24px;
  height: 14px;
}
#hd .hd-group .hd-mo-nav-btn .trigger span {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #000;
  transition: 0.5s;
}
#hd .hd-group .hd-mo-nav-btn .trigger span:nth-child(1) {
  top: 0;
}
#hd .hd-group .hd-mo-nav-btn .trigger span:nth-child(2) {
  top: 50%;
  width: 80%;
}
#hd .hd-group .hd-mo-nav-btn .trigger span:nth-child(3) {
  top: 100%;
}
#hd .hd-group .hd-mo-nav-btn .trigger.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
#hd .hd-group .hd-mo-nav-btn .trigger.active span:nth-child(2) {
  top: 50%;
  width: 80%;
  opacity: 0;
}
#hd .hd-group .hd-mo-nav-btn .trigger.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
@media (min-width: 992px) {
  #hd .hd-group .hd-mo-nav-btn {
    display: none;
  }
}
#hd .mo-sub-menu {
  height: 60px;
}
#hd .mo-sub-menu .nav-link {
  padding: 20px;
}

body.menu-open {
  overflow: hidden;
  height: 100vh;
}