#sc-our-story {
  .section-about {
    background-color: var(--color-sub-bg);
    background-image: url(../assets/images/img-main/about_bg_circle.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right bottom;
  }

  #clinicCarousel {
    max-width: 500px;
    margin: 0 auto;
  }

  .about_txt_box {
    max-width: 600px;
    z-index: 1;
  }

  .about_txt_tit {
    color: var(--color-muted);
    font-weight: var(--fw-500);
    font-size: var(--event-sub-tit);
    line-height: 2.3rem;
  }

  .about_txt_desc {
    color: var(--color-secondary);
  }

  .about_txt_doctor {
    color: var(--color-muted);
    font-weight: var(--fw-500);
  }

  .carousel-inner img {
    border-radius: 20px;
  }

  @media (max-width: 720px) {
    .carousel-control-prev,
    .carousel-control-next {
      display: none !important;
    }
  }

  .quote {
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 2em;
      height: 2em;
      background-color: currentColor;
      color: var(--color-sub);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43 31'%3E%3Cpath d='M18.459 0V18.25H9.33399L15.4173 30.4167H6.29232L0.208984 18.25V0H18.459ZM42.7923 0V18.25H33.6673L39.7507 30.4167H30.6257L24.5423 18.25V0H42.7923Z' fill='%2390C6CD'/%3E%3C/svg%3E");
      mask-size: contain;
      mask-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 2em;
      height: 2em;
      background-color: currentColor;
      color: var(--color-sub);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43 31'%3E%3Cg transform='scale(1,-1) translate(0,-31)'%3E%3Cpath d='M18.459 0V18.25H9.33399L15.4173 30.4167H6.29232L0.208984 18.25V0H18.459ZM42.7923 0V18.25H33.6673L39.7507 30.4167H30.6257L24.5423 18.25V0H42.7923Z' fill='%2390C6CD'/%3E%3C/g%3E%3C/svg%3E");
      mask-size: contain;
      mask-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
}