#sc-our-value {
  .services-bg {
    background-color: var(--color-primary2);
  }

  .services-con {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, #2EC4B6, #fff);
      z-index: -1;
      opacity: 0.9;
    }
  }

  .card-link:hover {
    opacity: 0.7;
    overflow: hidden;
  }

  .services-title {
    font-size: var(--event-tit);
    font-weight: var(--fw-500);
    color: #fff;
    letter-spacing: 0.8px;
    line-height: 3.25rem;
    padding-bottom: 1.5rem;
  }

  .services-h4 {
    font-size: var(--sub-h4);
    font-weight: var(--fw-400);
    color: var(--basic-color);
  }

  .services-dese {
    font-size: var(--font-size-base);
    color: var(--color-desc);
    font-weight: var(--fw-300);
  }

  .services-banner > div {
    min-height: calc(100vh - 500px);
    padding: 2vh 0.5vw;
  }

  .Ulthera_bg {
    background: url(../assets/images/img-main/original_tr1.png) no-repeat 0 0;
    background-size: cover;
  }

  .Botox_bg {
    background: url(../assets/images/img-main/original_tr2.png) no-repeat 0 0;
    background-size: cover;
  }

  .Inmode_bg {
    background: url(../assets/images/img-main/original_tr3.png) no-repeat 0 0;
    background-size: cover;
  }

  .Thermage_bg {
    background: url(../assets/images/img-main/original_tr4.png) no-repeat 0 0;
    background-size: cover;
  }
}